**/.nextflow.log*
DNAseq_pipeline/.nextflow/history
DNAseq_pipeline/.nextflow/*
DNAseq_pipeline/10_bismark_6bedGraph/*
DNAseq_pipeline/11_bismark_7coverage/*
DNAseq_pipeline/12_bismark_8nucleotide_coverage/*
DNAseq_pipeline/13_bismark_report/*
DNAseq_pipeline/14_DMR/Methylscore/output_A_vs_R/results/*



DNAseq_pipeline/1_merged_fastq/
DNAseq_pipeline/2_fastqc_before_trimming/
DNAseq_pipeline/3_fastqc_after_trimming/
DNAseq_pipeline/4_bismark_1index/
DNAseq_pipeline/5_bismark_2alignment/
DNAseq_pipeline/6_bismark_3deduplication/
DNAseq_pipeline/7_bismark_4mbias_plots/
DNAseq_pipeline/9_bismark_5methylation_extraction/
DNAseq_pipeline/10_bismark_6bedGraph/
DNAseq_pipeline/11_bismark_7coverage/
DNAseq_pipeline/12_bismark_8nucleotide_coverage/
DNAseq_pipeline/13_bismark_report/
DNAseq_pipeline/bismark_deduplication/*.out
DNAseq_pipeline/bwameth_alignment/*.out
DNAseq_pipeline/bwameth_flagstat/
DNAseq_pipeline/defiant_diffmeth/*.txt
DNAseq_pipeline/defiant_diffmeth/*.tsv
DNAseq_pipeline/defiant_diffmeth/*.gtf
DNAseq_pipeline/defiant_diffmeth/*.out
DNAseq_pipeline/dmap_diffmeth/
DNAseq_pipeline/DML/1_genome_index/
DNAseq_pipeline/DML/3_1_sorted_bam_files/
DNAseq_pipeline/DML/3_2_indexed_bam_files/
DNAseq_pipeline/DML/3_3_methylation_calling/
DNAseq_pipeline/DML/3_3_methylation_calling/
DNAseq_pipeline/DML/4_merge_allc/
DNAseq_pipeline/DML/5_DMR_results/
DNAseq_pipeline/DML/6_filter_merged_allc/
DNAseq_pipeline/homer_annotation/
DNAseq_pipeline/mark_duplicates/
DNAseq_pipeline/methyldackel_extract/
DNAseq_pipeline/methyldackel_index/
DNAseq_pipeline/methyldackel_mbias_plot/
DNAseq_pipeline/samtools_sorted/



GO_analysis/1_agat_extract/
GO_analysis/2_split_files_for_array/
GO_analysis/3_blastx/
GO_analysis/3_make_db_Uniprot/
GO_analysis/4_blastp/
GO_analysis/6_make_db_PfamA/
GO_analysis/7_Pfam_scan/
GO_analysis/8_sqlite_database/
GO_analysis/10_interproscan_protein/


RNAseq_pipeline/3_fastqc_before_trimming/
RNAseq_pipeline/4_fastqc_after_trimming/
RNAseq_pipeline/5_index_genome/
RNAseq_pipeline/6_aligned_reads_sam/
RNAseq_pipeline/7_aligned_reads_bam/
RNAseq_pipeline/8_featureCounts/
RNAseq_pipeline/*.out


DNAseq_pipeline/14_DMR/Methylscore/scripts/2_out_N_vs_A/output/
DNAseq_pipeline/14_DMR/Methylscore/scripts/3_out_N_vs_R/ouput/
DNAseq_pipeline/14_DMR/Methylscore/output_A_vs_R/

DNAseq_pipeline/bwameth_index/*fasta*
DNAseq_pipeline/bwameth_index/*.out
DNAseq_pipeline/14_DMR/samplesheet.tsv
DNAseq_pipeline/DML/DML_out.Rout
DNAseq_pipeline/DML/slurm-9938336.out



DNAseq_pipeline/4_2_bwameth_alignment/
DNAseq_pipeline/4_1_bwameth_index/
DNAseq_pipeline/5_dmr_identification/*.out
DNAseq_pipeline/5_dmr_identification/Methylscore/1_out_test_data/slurm-11174868.out
DNAseq_pipeline/5_dmr_identification/Methylscore/2_out_N_vs_A/output/*
DNAseq_pipeline/5_dmr_identification/






